{{>partial_header}}
package {{apiPackage}}

{{#operations}}
import (
	"net/http"
)

type {{classname}}Callback interface {
	{{#operation}}
	{{nickname}}(w http.ResponseWriter, r *http.Request)
	{{/operation}}
}
{{/operations}}
