{{>partial_header}}
package {{modelPackage}}
{{#models}}
{{#imports}}
{{#@first}}
import (
{{/@first}}
	"{{import}}"
{{#@last}}
)
{{/@last}}
{{/imports}}
{{#model}}{{#isEnum}}{{#description}}// {{{classname}}} : {{{description}}}{{/description}}
type {{{name}}} {{^format}}{{dataType}}{{/format}}{{#format}}{{{format}}}{{/format}}

// List of {{{name}}}
const (
	{{#allowableValues}}
	{{#enumVars}}
	{{name}} {{{classname}}} = "{{{value}}}"
	{{/enumVars}}
	{{/allowableValues}}
){{/isEnum}}{{^isEnum}}{{#description}}
// {{{description}}}{{/description}}
type {{classname}} struct {
{{#isComposedModel}}
    {{#interfaceModels}}
    {{classname}}
    {{/interfaceModels}}
{{/isComposedModel}}
{{^isComposedModel}}
{{#vars}}{{#description}}
	// {{{description}}}{{/description}}
	{{name}} {{^isEnum}}{{^isPrimitiveType}}{{^isContainer}}{{^isDateTime}}*{{/isDateTime}}{{/isContainer}}{{/isPrimitiveType}}{{/isEnum}}{{{datatype}}} `json:"{{baseName}}{{^required}},omitempty{{/required}}"`
{{/vars}}
{{/isComposedModel}}
}{{/isEnum}}{{/model}}{{/models}}
