{{>partial_header}}
package {{apiPackage}}

import (
	"net/http"
	"strings"

	"github.com/gorilla/mux"
)

type route struct {
	name        string
	method      string
	pattern     string
	handlerFunc http.HandlerFunc
}

func NewRouter() *mux.Router {
	return mux.NewRouter().StrictSlash(true)
}
{{#apiInfo}}{{#apis}}{{#operations}}
func Register{{classname}}Callback(c {{classname}}Callback, r *mux.Router) *mux.Router {
	var routes = []route{
		{{#operation}}
		{"{{operationId}}", strings.ToUpper("{{httpMethod}}"),"{{{basePathWithoutHost}}}{{{path}}}", c.{{operationId}} },
		{{/operation}}
	}

	for _, route := range routes {
		r.Methods(route.method).Path(route.pattern).Name(route.name).Handler(route.handlerFunc)
	}

	return r
}
{{/operations}}{{/apis}}{{/apiInfo}}

